body {
  font-family: "Karla";
  overflow-x: hidden;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* dm-serif-display-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.plans-link {
  padding: 10px 20px;
  transition: 500ms;
  border: 2px solid white;
  color: white;
  background-color: transparent;
}
.plans-link:hover {
  background-color: white;
  color: rgb(45, 38, 65);
}

.plans-link--dark {
  padding: 10px 20px;
  border: 2px solid rgb(44, 40, 48);
  color: rgb(44, 40, 48);
}
.plans-link--dark:hover {
  background-color: rgb(44, 40, 48);
  color: white;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

.hamburger {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  display: none;
}

.hamburger--open {
  background-image: url("/img/hamburger-open.svg");
}

.hamburger--close {
  background-image: url("/img/hamburger-close.svg");
}

@media only screen and (max-width: 590px) {
  .hamburger {
    display: inline-block;
  }
}
.title {
  color: white;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  max-width: 540px;
  margin: 0;
  font-family: "DM Serif Display";
  position: relative;
  padding-top: 80px;
}
.title::after {
  top: 0;
  left: 0;
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: white;
  content: "";
}

@media only screen and (max-width: 1080px) {
  .title--light {
    font-size: 52px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 840px) {
  .title--light {
    font-size: 42px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .title--light {
    font-size: 48px;
  }
  .title::after {
    display: none;
  }
}
.header {
  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 20px;
}

.header__item-link {
  color: rgb(131, 125, 136);
  font-size: 13px;
  font-weight: 700;
  line-height: 15.2px;
  letter-spacing: 1.5px;
}
.header__item-link:hover {
  color: rgb(44, 40, 48);
}

@media only screen and (max-width: 590px) {
  .header__nav {
    position: absolute;
    background-color: rgb(44, 40, 48);
    display: none;
    top: 62px;
    left: 0;
    width: 100%;
    height: calc(100vh - 62px);
    flex-direction: column;
    text-align: center;
  }
  .header__list {
    flex-direction: column;
    margin-top: 50px;
  }
  .header__item {
    margin: 0;
    margin-bottom: 30px;
  }
  .header__item-link {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1.3636363745px;
    color: white;
  }
  .header__link {
    padding: 12px 50px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
  }
}
.intro {
  background-color: rgb(45, 38, 65);
}

.intro__container {
  display: flex;
  padding-top: 80px;
  position: relative;
}
.intro__container::after {
  position: absolute;
  background-image: url("/img/intro-after.png");
  background-repeat: no-repeat;
  content: "";
  width: 200px;
  height: 649px;
  bottom: -400px;
  left: -180px;
}
.intro__container::before {
  position: absolute;
  background-image: url("/img/intro-before.png");
  background-repeat: no-repeat;
  content: "";
  width: 697px;
  height: 649px;
  right: -450px;
  top: 0;
}

.intro__content {
  margin-top: 60px;
  margin-right: 20px;
}

.intro__text {
  line-height: 26px;
  color: white;
  margin-bottom: 40px;
}

.intro__link {
  border: 1px solid white;
  color: white;
  z-index: 1;
}
.intro__link:hover {
  color: rgb(44, 40, 48);
  background-color: white;
}

.intro__img {
  margin-bottom: -100px;
  margin-top: 50px;
  flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 940px) {
  .intro__img {
    width: 440px;
    height: auto;
  }
}
@media only screen and (max-width: 840px) {
  .intro__img {
    width: 340px;
    height: auto;
  }
  .intro__content {
    padding: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .intro__container {
    flex-direction: column-reverse;
    padding: 0;
  }
  .intro__img {
    width: 100%;
    margin: 0;
  }
  .intro__content {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 50px;
  }
}