body{
    font-family: "Karla";
    overflow-x: hidden;
    max-width: 1400px;
    margin: 0 auto;
}
ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    font-family: "Karla";
}
