.header {
    padding: 10px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 20px;
}

.header__item-link {
    color: $gray;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.2px;
    letter-spacing: 1.5px;

    &:hover {
        color: $dark;
    }
}

@media only screen and (max-width:590px) {
    .header__nav {
        position: absolute;
        background-color: $dark;
        display: block;
        top: 62px;
        left: 0;
        width: 100%;
        height: calc(100vh - 62px);
        flex-direction: column;
        text-align: center;
    }

    .header__list {
        flex-direction: column;
        margin-top: 50px;
    }

    .header__item {
        margin: 0;
        margin-bottom: 30px;
    }

    .header__item-link {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.3636363744735718px;
        color: white;
    }

    .header__plans-link {
        padding: 12px 50px;
        border: 2px solid white;
        color: white;
    }
}