.header {
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
}

.header-list-item {
    margin-right: 20px;
}

.header-item-link {
    color: $gray;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.2px;
    letter-spacing: 1.5px;

    &:hover {
        color: $dark;
    }
}

.header-hamburger {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    display: none;
}

.hamburger--open {
    background-image: url('/img/hamburger-open.svg');
}

.hamburger--close {
    background-image: url('/img/hamburger-close.svg');
}

@media only screen and (max-width:560px) {
    .header-nav {
        position: absolute;
        background-color: $dark;
        top: 71px;
        left: 0;
        width: 100%;
        height: calc(100vh - 71px);
        flex-direction: column;
        text-align: center;
    }

    .header-hamburger {
        display: inline-block;
    }

    .header-nav-list {
        flex-direction: column;
        margin-top: 40px;
    }

    .header-list-item {
        margin: 0;
        margin-bottom: 20px;
    }

    .header-item-link {
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.3636363744735718px;
        color: white;
    }

    .header-link {
        padding: 12px 50px;
        border: 2px solid white;
        color: white;
        font-size: 20px;
        line-height: 40px;
        letter-spacing: 1.3636363744735718px;
    }
}