.intro {
    background-color: $dark-blue;
    position: relative;
    max-width: 1490px;
    margin: 0 auto;

    &::after {
        position: absolute;
        background-image: url('/img/intro-after.png');
        background-repeat: no-repeat;
        content: '';
        width: 200px;
        ;
        height: 649px;
        bottom: -400px;
        left: 0;
    }

    &::before {
        position: absolute;
        background-image: url('/img/intro-before.png');
        background-repeat: no-repeat;
        content: '';
        width: 697px;
        height: 649px;
        right: -260px;
    }
}

.intro__container {
    display: flex;
    padding-top: 80px;
}

.intro__content {
    margin-top: 60px;
    margin-right: 50px;
}

.intro__text {
    line-height: 26px;
    color: white;
    margin-bottom: 40px;
}

.intro__link {
    border: 1px solid white;
    color: white;
    z-index: 1;

    &:hover {
        color: rgba(44, 40, 48, 1);
        background-color: white;
    }
}

.intro__img {
    margin-bottom: -100px;
    margin-top: 100px;
}