.title{
    color: white;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    max-width: 540px;
    margin: 0;
    font-family: 'DM Serif Display';
    position: relative;
    padding-top: 80px;
    &::after {
        top: 0;
        left: 0;
        position: absolute;
        width: 150px;
        height: 1px;
        background-color: white;
        content: '';
    }
}