.title{
    color: white;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    max-width: 540px;
    margin: 0;
    font-family: 'DM Serif Display';
    position: relative;
    padding-top: 80px;
    &::after {
        top: 0;
        left: 0;
        position: absolute;
        width: 150px;
        height: 1px;
        background-color: white;
        content: '';
    }
}
@media only screen and (max-width:1080px){
    .title--light{
        font-size: 52px;
    line-height: 50px;
    }
}
@media only screen and (max-width:840px){
    .title--light{
        font-size: 42px;
        line-height: 40px;
    }
}
@media only screen and (max-width:800px){
    .title--light{
        font-size: 48px;
    }
    .title{
        &::after{
            display: none;
        }
    }
}